/.idea
/*.iml
/*.log
**/*.iml
/*.ipr
/*.iws
/.project
**/.project
/.settings
**/.settings
/.classpath
**/.classpath
/target
**/target
*.nogit
/dependency_updates.txt
/plugin_updates.txt
/app-env
/keystore.jks
/mydomain.csr
/prepare release notes.txt
/output
**/output